<div class="control has-icons-left">
  <div class="select is-fullwidth is-small">
    <select name="{{name}}">
      % if defined('oznaka'):
        <option disabled selected>{{oznaka}}</option>
      % end
      <option value="">
        nerazporejeno
      </option>
      % for i in range(10): # To bom spremenil
        <option value="Tukaj bi moralo biti ime kuverte">
          {{i*i}}
        </option>
      % end
    </select>
  </div>
  <span class="icon is-small is-left">
    <i class="{{icon}}"></i>
  </span>
</div>
