<div class="control has-icons-left">
    <div class="select is-fullwidth is-small">
      <select name="{{name}}">
        % if defined('oznaka'):
        <option disabled selected>{{oznaka}}</option>
      % end
        % for graf in uporabnik.vsi_grafi:
        % if graf not in uporabnik.dobi_seznam_svojih_grafov(): 
          <option value="{{graf.stevilka_linije}}">
         {{graf.stevilka_linije}}
          </option>
        % end
        % end
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="fas fa-map-marker"></i>
    </span>
  </div>