<div class="control has-icons-left">
    <div class="select is-fullwidth is-small">
      <select name="{{name}}">
        % if defined('oznaka'):
          <option disabled selected>{{oznaka}}</option>
        % end
        
        % for tocka in uporabnik.vse_tocke: # To bom spremenil
          <option value="Tukaj bi moralo biti ime kuverte">
            {{tocka.ime}}
          </option>
        % end
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="{{icon}}"></i>
    </span>
  </div>
