% rebase('base.html', izbrani_zavihek='analiza-postajalisc')

% tabela_fraz = ["Prva", "Druga", "Tretja", "Četrta", "Peta"]


<div class="columns">

    <div class="column is-fullwidth">

        <nav class="panel">
            <p class="panel-heading">
                Tvoje najbolj popularne destinacije
            </p>
            <div class="panel-block">
                <ul>
                    <div class="content is-medium">
                    <li><b>Prek našega portala si našel informacije o {{vsota_frekvenc_uporabnika}} postajah ter 
                        optimalni poti med {{len(uporabnik.prejsna_iskanja) * 2}} mesti!</b>
                    </li>
                    % for i in range(5):
                        <li>
                                {{tabela_fraz[i]}} najbolj popularna destinacija:
                                 <b>{{popularna_vozlisca_uporabnika[i].ime}}: Obiskal {{popularna_vozlisca_uporabnika[i].frekvenca_obiskov}}-krat</b>
                        </li>
                        <li>
                            delez = 
                            <progress class="progress is-link" value="60" max="100">30%</progress>
                        </li>
                    %end
                </div>

                </ul>  
            </div>
        </nav>

    </div>


    <div class="column">

        <nav class="panel">
            <p class="panel-heading">
                Tvoje najbolj popularne destinacije
            </p>
            <div class="panel-block">
                <ul>
                    % for i in range(5):
                        <li>
                            <div class="content is-medium">
                                {{tabela_fraz[i]}} najbolj popularna destinacija: <b>{{popularna_vozlisca_vseh[i].ime}}</b>
                            </div>
                        </li>
                        <li>
                            <progress class="progress is-link" value="30" max="100">30%</progress>
                        </li>
                    %end
                </ul>  
            </div>
        </nav>

    </div>



    <div class="column">
        <div class="box">
            
            <progress class="progress is-link" value="30" max="100">30%</progress>
            <progress class="progress is-info" value="45" max="100">45%</progress>
            <progress class="progress is-success" value="60" max="100">60%</progress>
            <progress class="progress is-warning" value="75" max="100">75%</progress>
            <progress class="progress is-danger" value="90" max="100">90%</progress>
            <p>
                To bi bilo treba dodati, če bi želeli 10.
            </p>
        </div>
    </div>

</div>