% rebase('base.html', izbrani_zavihek='analiza-postajalisc')

<label for="file">Downloading progress:</label>

<div class="columns">

    <div class="column is-fullwidth">
        <div class="box">
            <table>
                <tbody>
                    <tr background-color=#f8f8f8>
                        <td>
                            <progress class="progress is-primary" value="15" max="100" id="file">15%</progress>
                        </td>
                        <td>
                            <progress class="progress is-primary" value="15" max="100" id="file">15%</progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21
                        </td>
                        <td>
                            <progress class="progress is-link" value="30" max="100">30%</progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31
                        </td>
                        <td>
                            <progress class="progress is-info" value="45" max="100">45%</progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41
                        </td>
                        <td>
                            <progress class="progress is-success" value="60" max="100">60%</progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            51
                        </td>
                        <td>
                            <progress class="progress is-warning" value="75" max="100">75%</progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            61
                        </td>
                        <td>
                            <progress class="progress is-danger" value="90" max="100">90%</progress>
                        </td>
                    </tr>
                </tbody>
            </table>

                    
        </div>
    </div>

    <div class="column">
        <div class="box">
            <progress class="progress is-primary" value="15" max="100">15%</progress>
            <progress class="progress is-link" value="30" max="100">30%</progress>
            <progress class="progress is-info" value="45" max="100">45%</progress>
            <progress class="progress is-success" value="60" max="100">60%</progress>
            <progress class="progress is-warning" value="75" max="100">75%</progress>
            <progress class="progress is-danger" value="90" max="100">90%</progress>
            <p>
                To bi bilo treba dodati, če bi želeli 10.
            </p>
        </div>
    </div>

</div>