<b>Pozdravljen, {{uporabnik.ime}}</b>

<div class="columns">
    <div class="column is-one-fifth">
      <nav class="panel">
        <p class="panel-heading">
          <i class="fas fa-exchange-alt"></i>
          <!--Išči:-->
        </p>
        <!--% include('_prikaz_stanja.html', ime='nerazporejeno', stanje=15)-->
        Kam potuješ danes?
        <div class="panel-block">
          <form action="/premakni-denar/" method="POST">
            <div class="control has-icons-left">
                <div class="select is-fullwidth is-small">
                  <select name="polje_stevilka_linije">
                    % if defined('oznaka'):
                      <option disabled selected>Številka linije</option>
                    % end
                    <option value="">
                      Številka vozne linije
                    </option>
                    % for i in range(1, len(uporabnik.vsi_grafi) + 1): # To bom spremenil
                      <option value="stevilka_linije">
                        {{i}}
                      </option>
                    % end
                  </select>
                </div>
                <span class="icon is-small is-left">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
              </div>

            <div class="field">
              % include('_izberi_kuverto.html', name='kraj_zacetka', oznaka='Vstop', icon='fas fa-sign-out-alt')
            </div>
            <div class="field">
              % include('_izberi_kuverto.html', name='kraj_konca', oznaka='Izstop', icon='fas fa-sign-in-alt')
            </div>
            <div class="field">
                % include('_izberi_cas_odhoda.html', name='najbolj_zgoden_cas_odhoda')
              </div>
            <div class="field has-addons">
              <div class="control">
                
              </div>
              <div class="control">
                <button class="button is-info is-small">premakni</button>
              </div>
            </div>
          </form>
        </div>
      </nav>

      <nav class="panel">
        <p class="panel-heading">
          <i class="fas fa-piggy-bank"></i>
          Tvoje vozne linije *Tukaj bodo podatki o voznih linijah, ki si jih je posameznik dodal*
        </p>
        % for racun in [5, 6, 7, 8, 9]:
        % include('_prikaz_stanja.html', ime=str(racun*racun) + " test", stanje=100)
        % end
        <div class="panel-block">
          <form action="/dodaj-racun/" method="POST">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-small" type="text" placeholder="dodaj novo vozno linijo" name="stevilka_nove_linije">
                <!-- Tukaj bi lahko prišle izbire linij, ki so še preostale-->
              </div>
              <div class="control">
                <input type="submit" class="button is-small" value="dodaj">
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>

    Evidenca tvojih preteklih iskanj

    <div class="column">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>datum</th>
              <th>račun</th>
              <th>kuverta</th>
              <th>znesek</th>
              <th>opis</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <form action="/dodaj-preliv/" method="POST">
              <tr>
                <td></td>
                <td>
                  % include('_izberi_racun.html', name='racun') # datoteko sem modificiral, da se ne sesuje
                </td>
                <td>
                  % #include('_izberi_kuverto.html', name='kuverta', icon='fas fa-envelope') # datoteko sem modificiral, da se ne sesuje
                  % #TODO: Spremeni
                </td>
                <td>
                  % include('_izberi_znesek.html', name='znesek') # Mislim, da se ne bo sesulo, še vseeno pa gre poskusiti
                </td>
                <td>
                  <div class="control has-icons-left">
                    <input class="input is-small" type="text" name="opis" placeholder="opis">
                    <span class="icon is-small is-left">
                      <i class="far fa-sticky-note"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <div class="control">
                    <button class="button is-info is-small">dodaj</button>
                  </div>
                </td>
              </tr>
            </form>
            % for i in range(20):
            <tr>
              <td>{{2*i - 12}}</td>  <!--Bom spremenil-->
              <td>{{4*i}}</td> <!--Bom spremenil-->
              <td>
                % if True: # Bom spremenil
                nerazporejeno
                % else:
                {{preliv.kuverta.ime}}
                % end
              </td>
              <td>
                % include('_prikaz_zneska.html', znesek=64)
              </td>
              <td>Za enkrat imam samo eno vozno linijo</td>
              <td></td>
            </tr>
            % end
          </tbody>
        </table>
      </div>


</div>