<html>

<body>
    <h1>Opravila</h1>
    <h2>Najboljši projekt na svetu!</h2>

    % if stevilo_grafov != 0:
    <h3>Lahko se zapelješ po eni izmed naših {{stevilo_grafov}} voznih linij!</h3>
    % else:
    <h3>Priskrbi si karto za na avtobus</h3>
    % end

    <h3>Aktualna opravila</h3>
    <ul>
        % for i in range(10):
        % if True:
        <li><del>{{ i * i }}</del></li>

        <li>
            Neznano ime opravila
            <form method="POST" action="/opravi/">
                <input type="hidden" name="indeks" value="{{indeks}}">
                <input type="submit" value="opravi!">
            </form>
        </li>
        % end
        % end
    </ul>

</body>

</html>